/* Bubble animation */
.bubbles-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.bubbles {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bubbles li {
  position: absolute;
  display: block;
  bottom: -100px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  animation: rise 20s infinite ease-in;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(0.5);
    opacity: 0;
  }
}

/* random bubble sizes and positions */
.bubbles li:nth-child(1) { left: 5%; width: 15px; height: 15px; animation-duration: 10s; }
.bubbles li:nth-child(2) { left: 15%; width: 20px; height: 20px; animation-duration: 12s; }
.bubbles li:nth-child(3) { left: 25%; width: 25px; height: 25px; animation-duration: 14s; }
.bubbles li:nth-child(4) { left: 35%; width: 18px; height: 18px; animation-duration: 11s; }
.bubbles li:nth-child(5) { left: 45%; width: 30px; height: 30px; animation-duration: 15s; }
.bubbles li:nth-child(6) { left: 60%; width: 22px; height: 22px; animation-duration: 13s; }
.bubbles li:nth-child(7) { left: 70%; width: 18px; height: 18px; animation-duration: 10s; }
.bubbles li:nth-child(8) { left: 80%; width: 25px; height: 25px; animation-duration: 16s; }
.bubbles li:nth-child(9) { left: 90%; width: 15px; height: 15px; animation-duration: 9s; }
.bubbles li:nth-child(10) { left: 50%; width: 40px; height: 40px; animation-duration: 18s; }
